$body-bg-color: #F8F8F8;
$header-bg-color: #fff;
$main-color: #FF3E79;
$main-hover: #ac0033;
$universal-color: #EAEAEA;
$main-blue: #41F6D6;
$main-nav-border: #B8FFEC;
$main-nav-bg: #fff;
$equip-bg: #EAEAEA;
$equip-bg-1120: #fff;
$brand-card-bg: #fff;
$brand-title-lg: #F8F8F8;
$brand-title-lg1: #fff;
$h2-color: #7E7E82;
$brands-summary-hover: #000;
$input-border: #EAEAEA;
$input-color: #B5B6BC;
$descr-button-color: #fff;
$footer-p-color: #7E7E82;
$footer-border: #D9FFF5;
$menu-bg: #fff;
$menu-shadow: rgba(14, 24, 80, 0.2);
$menu-a-color: #1B1C21;
$nav-item-a-hover: #7E7E82;
$active-a-hover: #7E7E82;
$menu-footer-color: #7E7E82;
$phone-bg: #fff;
$phone-btn-color: #fff;
$prefooter-color: #1B1C21;
$price-title-lg: #F8F8F8;
$price-title-lg1: #fff;
$price-slide-bg: #fff;
$price-btn-color: #fff;
$price-list-color: #7E7E82;
$price-term: #fff;
$item-wrap-border: #EAEAEA;
$repairs-title-lg: #F8F8F8;
$repairs-title-lg1: #fff;
$repairs-summary-hover: #000;
$repairs-item: #fff;